<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoi dan iT</title>
</head>

<body>
    <h1>hoi dan it from views</h1>
    <h1>hoi dan it from views</h1>
    <h1>hoi dan it from views</h1>
    <h1>hoi dan it from views</h1>
</body>

</html>